# Load raw dataset

In [13]:
import pandas as pd

dataset_path = r"D:\Python\SmartSignalAI\data\An Urban Multi-Operator QoE-Aware Dataset for Cell\raw_dataset.csv"
df = pd.read_csv(dataset_path)

print("Dataset loaded successfully!")

Dataset loaded successfully!

# Inspect data

In [14]:
print("Shape:", df.shape)
df.head()

Shape: (30925, 51)

,Timestamp,Longitude,Latitude,Speed,Operatorname,Node,CellID,LAC,NetworkTech,Level,...,TESTDOWNLINK,TESTUPLINK,TESTDOWNLINKMAX,TESTUPLINKMAX,Test_Status,Mobility,Node_Longitude,Node_Latitude,SessionID,ElapsedTime
0,2024.12.03_11.30.19,101.604079,3.067269,0.0,Operator C,702072.0,20.0,5123.0,5G,-98.0,...,NaN,NaN,NaN,NaN,NONE,Walking,101.601629,3.065296,1,0.0
1,2024.12.03_11.30.20,101.604065,3.067274,2.0,Operator C,702072.0,20.0,5123.0,5G,-101.0,...,NaN,NaN,NaN,NaN,NONE,Walking,101.601629,3.065296,1,1.0
2,2024.12.03_11.30.25,101.604118,3.067221,1.0,Operator C,702072.0,20.0,5123.0,4G,-94.0,...,NaN,NaN,NaN,NaN,NONE,Walking,101.601629,3.065296,1,6.0
3,2024.12.03_11.30.28,101.604106,3.067208,1.0,Operator C,701688.0,10.0,5123.0,4G,-76.0,...,NaN,NaN,NaN,NaN,NONE,Walking,101.602581,3.069982,1,9.0
4,2024.12.03_11.30.31,101.604100,3.067232,0.0,Operator C,701688.0,10.0,5123.0,5G,-92.0,...,NaN,NaN,NaN,NaN,NONE,Walking,101.602581,3.069982,1,12.0